@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=poppines:wght@200;400;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/morph/bootstrap.min.css");

body {
  background: #ffffff;
}

.font-zapp-thin {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
p {
  margin-bottom: 0.2rem;
}

.font-zapp {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.font-zapp-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.font-zapp-extrabold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.zapp-scroll::-webkit-scrollbar {
  width: 4px;
}
.zapp-scroll::-webkit-scrollbar-track {
  border-radius: 4px;
  background: transparent;
}
.zapp-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #c344ff90;
}

/* .bg-zapp {
  background-color: #232122 !important;
} */
.box-shadow-zapp {
  box-shadow: #be377b 0px 5px 14px -7.5px;
}
/* .border-zapp {
  border-color: #ff3b9d30 !important;
} */

.border-zapp-alt {
  /* border-color: #0b3687 !important; */
  border-style: dashed;
  border-width: 1px;
}

/* .bg-zapp-secondary {
  background-color: #c344ff !important;
} */

.bg-zapp-gradient {
  background: -webkit-linear-gradient(45deg, #2a2a78, #4a5b26);
  background: linear-gradient(45deg, #2a2a78, #4a5b26);
}
/* .bg-zapp-gradient-alt {
  background: -webkit-linear-gradient(45deg, #2a2a78, #4a5b26);
  background: linear-gradient(45deg, #2a2a78, #4a5b26);
} */
/* .bg-blur {
  opacity: 0.8;
  backdrop-filter: blur(5px);
} */
/* .text-zapp {
  color: #463d46;
} */

/* .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.tooltip {
  --bs-tooltip-bg: rgba(0, 0, 0, 0.8);
}
.tooltip-inner {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}

.tooltip-arrow {
  box-shadow: none !important;
}

/* .table-zapp-3 th,
.table-zapp-3 td {
  padding: 1.3rem;
}

.table-zapp th {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 800 !important;
}

.table-zapp td {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
} */
.hover-select:hover {
  background-color: #f0f0f0;
  color: rgb(226, 16, 142);
}
h3 {
  color: green;
}
.ql-indent-2 {
  background-color: red;
}
.download {
  color: #232122;
  display: flex;
  justify-content: center;

  height: 100vh;
}
@media print {
  .doted {
    border-top: 1px dashed #000;
    width: 100%;
  }
  .print_container {
    color: #232122;
    display: flex;
    justify-content: center;

    height: 100vh;
  }
  h2 {
    color: #232122;
  }

  .d-none {
    display: block !important;
    width: 100%;
    padding: 50px;
  }
}
